body {
    overflow: auto
}

#navbar-container {
    padding-bottom: 10px;
}

#navbar-content {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background: white;
    margin: 8px;
}

#web-title {
    /* font-size: max(2vmin, 10px); */
    font-size: 20px;
}

#line {
    width: 100%;
    border: 0.5px solid rgba(170, 170, 170, 0.667);
}

#surveycaptureboard-container {
    display: flex;
    /* width: 100%; */
    /* height: 1000px; */
}

#recordingcanvas-container {
    padding: 10px;
    border-radius: 5px;
    border: black;
    border-width: 1px;
    border-style: solid;
}

#eyerecordpanel-container {
    height: 100%;
}

#question-container {}

.eyerecord-container {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: black;
    border-width: 1px;
    border-style: solid;
    margin: 15px;
    height: 200px;
    width: 350px;
}

.eyeinfo {
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-size: 30px;
    line-height: 100%;
}